<button mat-stroked-button (click)="creerTransaction()">Créer</button>
@if (transactions.length > 0) {
  <app-liste-transaction [transactions]="transactions"></app-liste-transaction>
} @else {
  <p>Aucune transaction !</p>
}
