<div class="card-container">
  <p>{{ objet.nom }}</p>
  <p>Prix : {{ objet.prix }}€ / jour</p>
  <p>Durée : {{ objet.duree }} jours</p>
  <div class="card-button">
    <button mat-stroked-button (click)="modifierObjet()">Modifier</button>
    <button mat-stroked-button (click)="supprimerObjet()">Supprimer</button>
  </div>
</div>
