.card-container {
  border: solid 4px #3b4151;
  width: 250px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;

  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    margin: 10px;
  }
}
