<div>
  <div>
    <form [formGroup]="objetFormGroup">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput formControlName="prix">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Durée</mat-label>
        <input matInput formControlName="duree">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Utilisateurs</mat-label>
        <mat-select formControlName="utilisateur">
          @if (utilisateurs.length > 0) {
          @for (utilisateur of utilisateurs; track utilisateur.id) {
          <mat-option [value]="utilisateur">{{ utilisateur.nom + ' ' + utilisateur.prenom }}</mat-option>
          }
          } @else {
          <mat-option>Aucun produit</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div>
    @if (data.action == 'creer') {
    <button mat-button (click)="creerObjet()">Creer</button>
    } @else {
    <button mat-button (click)="modifierObjet()">Modifier</button>
    }
    <button mat-button (click)="onNoClick()">Annuler</button>
  </div>
</div>
