<button mat-stroked-button (click)="creerUtilisateur()">Créer</button>
@if (utilisateurs.length > 0) {
  <app-liste-utilisateur [utilisateurs]="utilisateurs"></app-liste-utilisateur>
} @else {
  <p>Aucun utilisateur !</p>
}
