
<div class="container-table" >
  @for (objet of objets; track objet.id) {
    <app-card-objet [objet]="objet" (objetModifier)="modifierObjet($event)" (objetSupprimer)="supprimerObjet($event)"></app-card-objet>
  }
  <!--
  <table mat-table [dataSource]="objets" class="mat-elevation-z8">

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let element"> {{ element.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef> Prix</th>
      <td mat-cell *matCellDef="let element"> {{ element.prix }} / j</td>
    </ng-container>

    <ng-container matColumnDef="duree">
      <th mat-header-cell *matHeaderCellDef> Durée</th>
      <td mat-cell *matCellDef="let element"> {{ element.duree }} jours</td>
    </ng-container>

    <ng-container matColumnDef="proprietaire">
      <th mat-header-cell *matHeaderCellDef> Propriétaire</th>
      <td mat-cell *matCellDef="let element"> {{ element.proprietaire?.nom + ' ' + element.proprietaire?.prenom }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="modifierObjet(element)">Modifier</button>
        <button mat-stroked-button (click)="supprimerObjet(element.id)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
-->
</div>
