<div class="container-table" >
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- date debut Column -->
    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef> Date début</th>
      <td mat-cell *matCellDef="let element"> {{ element.dateDebut | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- date fin Column -->
    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef> Date fin</th>
      <td mat-cell *matCellDef="let element"> {{ element.dateFin | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- loeur Column -->
    <ng-container matColumnDef="loueur">
      <th mat-header-cell *matHeaderCellDef> Loueur</th>
      <td mat-cell *matCellDef="let element"> {{ element.loueur.nom + ' ' + element.loueur.prenom }}</td>
    </ng-container>

    <!-- Adresse Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> Client</th>
      <td mat-cell *matCellDef="let element"> {{ element.client.nom + ' ' + element.client.prenom }}</td>
    </ng-container>

    <!-- objet Column -->
    <ng-container matColumnDef="objet">
      <th mat-header-cell *matHeaderCellDef> Objet</th>
      <td mat-cell *matCellDef="let element"> {{ element.objet?.nom }}</td>
    </ng-container>

    <!-- actions colonne -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="modifierTransaction(element)">Modifier</button>
        <button mat-stroked-button (click)="supprimerTransaction(element.id)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
