<div>
  <div>
    <form [formGroup]="transactionFormGroup">
      <!-- Date début -->
      <mat-form-field>
        <mat-label>Date debut</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dateDebut">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <!-- Date fin -->
      <mat-form-field>
        <mat-label>Date fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dateFin">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <!-- Loueur -->
      <mat-form-field>
        <mat-label>Loueur</mat-label>
        <mat-select formControlName="loueur" [(value)]="loueurSelectionne">
          @if (utilisateurs.length > 0) {
            @for (utilisateur of utilisateurs; track utilisateur.id) {
              <mat-option [value]="utilisateur">{{ utilisateur.nom + ' ' + utilisateur.prenom }}</mat-option>
            }
          } @else {
            <mat-option>Aucun loueur</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Client -->
      <mat-form-field>
        <mat-label>Client</mat-label>
        <mat-select formControlName="client" [(value)]="clientSelectionne">
          @if (utilisateurs.length > 0) {
            @for (utilisateur of utilisateurs; track utilisateur.id) {
              <mat-option [value]="utilisateur">{{ utilisateur.nom + ' ' + utilisateur.prenom }}</mat-option>
            }
          } @else {
            <mat-option>Aucun client</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Objet -->
      <mat-form-field>
        <mat-label>Objets</mat-label>
        <mat-select formControlName="objet" [(value)]="objetSelectionne">
          @if (objets.length > 0) {
            @for (objet of objets; track objet.id) {
              <mat-option [value]="objet">{{ objet.nom }}</mat-option>
            }
          } @else {
            <mat-option>Aucun objet</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div>
    @if (data.action == 'creer') {
      <button mat-button (click)="creerTransaction()">Creer</button>
    } @else {
      <button mat-button (click)="modifierTransaction()">Modifier</button>
    }
    <button mat-button (click)="onNoClick()">Annuler</button>
  </div>
</div>
