<div>
  <div>
    <form [formGroup]="utilisateurFormGroup">
      <mat-form-field>
        <mat-label>Prenom</mat-label>
        <input matInput formControlName="prenom">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Evaluation</mat-label>
        <input matInput formControlName="evaluation">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="adresse">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput formControlName="ville">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Code postal</mat-label>
        <input matInput formControlName="codePostal">
      </mat-form-field>
    </form>
  </div>
  <div>
    @if (data.action == 'creer') {
    <button mat-button (click)="creerUtilisateur()">Creer</button>
    } @else {
    <button mat-button (click)="modifierUtilisateur()">Modifier</button>
    }
    <button mat-button (click)="onNoClick()">Annuler</button>
  </div>
</div>
