.liste-utilisateur {
  display: flex;

  .container-table {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .with-with-objet {
    width: 70%;
  }

  .objet-utilisateur {
    max-width: 30%;
  }
}
