<div class="liste-utilisateur">
  <div [class]="utilisateurSelectionne !== undefined ? 'with-with-objet' : 'full-width'">
    <table mat-table [dataSource]="utilisateurs" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Nom Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element"> {{ element.nom }}</td>
      </ng-container>

      <!-- prenom Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom</th>
        <td mat-cell *matCellDef="let element"> {{ element.prenom }}</td>
      </ng-container>

      <!-- Evaluation Column -->
      <ng-container matColumnDef="evaluation">
        <th mat-header-cell *matHeaderCellDef> Evaluation</th>
        <td mat-cell *matCellDef="let element"> {{ element.evaluation }} / 5</td>
      </ng-container>

      <!-- Adresse Column -->
      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef> Adresse</th>
        <td mat-cell *matCellDef="let element"> {{ element.adresse + ' ' + element.ville + ' ' + element.codePostal }}
        </td>
      </ng-container>

      <!-- actions colonne -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button (click)="modifierUtilisateur(element)">Modifier</button>
          <button mat-stroked-button (click)="supprimerUtilisateur(element.id)">Supprimer</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="recupererRow(row)"></tr>
    </table>
  </div>
  <div class="objet-utilisateur">
    @if (utilisateurSelectionne) {
      <app-liste-objet [objets]="envoyerObjetUtilisateur()"></app-liste-objet>
    }
  </div>
</div>
