<mat-toolbar color="primary">
  <button class="bouton-logo" mat-button (click)="naviguerVersAccueil()">
    <span>KilouPaTou</span>
  </button>
  <div class="menu">
    <button mat-button (click)="naviguerVersObjets()">
      Objets
    </button>
    <button mat-button (click)="naviguerVersUtilisateurs()">
      Utilisateurs
    </button>
    <button mat-button (click)="naviguerVersTransactions()">
      Transactions
    </button>
  </div>
</mat-toolbar>
