mat-toolbar {

  background: #FFC800;
  display: flex;
  justify-content: space-between;

  .bouton-logo {
    text-transform: uppercase;
  }

  .menu {
    display: flex;
    justify-content: flex-end;

    button {
      width: 100%;
    }
  }
}
